/* General container */
.form-container {
  font-family: Arial, sans-serif;
  color: #333;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #e8e5e0; /* Matches the beige background of the uploaded image */
}

/* Form content */
.form-content {
  flex-grow: 1;
  padding: 40px;
  max-width: 900px;
  margin: 0 auto;
  background-color: #d0c9c0; /* Light gray-brown background for the form */
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  text-align: center;
}

/* Headings */
h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #2d2a2b; /* Darker gray for the title */
  text-transform: uppercase;
}

h2 {
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: 20px;
  color: #2d2a2b;
  letter-spacing: 0.05em;
}

/* Form grid */
.form-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  margin-bottom: 20px;
}

/* Form group */
.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.unit{
  font-size: 10px;
  
}

label {
  font-size: 0.9rem;
  margin-bottom: 5px;
  color: #333;
}

input,
select {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #bbb;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 400;
  color: #333;
}

input:focus,
select:focus {
  border-color: #0056b3;
  outline: none;
}

/* Built-up area label */
input[type="number"] + label {
  margin-top: 5px;
}

/* Error messages */
.error {
  color: red;
  font-size: 0.85rem;
  margin-top: 5px;
  font-style: italic;
}

/* Submit button */
button {
  width: 50%;
  padding: 12px;
  margin: 0 auto;
  background-color: #333; /* Black color for the button */
  color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #666; /* Gray hover effect for the button */
}

button:disabled {
  background-color: #bbb;
  cursor: not-allowed;
}
.explore-materials-button {
  background-color: #666;
  color: #fff;
  float: right;
}

.explore-materials-button:hover {
  background-color: #333;
}


/* Responsive adjustments */
@media (max-width: 768px) {
  .form-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .form-grid {
    grid-template-columns: 1fr;
  }

  button {
    width: 100%;
  }
}
