<div class="home-container">
    <!-- <nav class="navbar">
      <button routerLink="/user-home" class="nav-button">Home</button>
      <button routerLink="/about-us" class="nav-button">About Us</button>
      <button routerLink="/services" class="nav-button">Services</button>
      <button routerLink="/catalogs" class="nav-button">Catalogs</button>
      <button routerLink="/inquire-now" class="nav-button">Inquire Now</button>
    </nav> -->
    <app-navbar></app-navbar>
    <div class="content">
      <div class="image-container">
        <img src="assets/user-home.jpg" alt="Home" class="background-image" />
        <div class="text-overlay">
          <h1>Turning dream homes to reality.</h1>
        </div>
      </div>
    </div>
  </div>
  