<div class="contact-container">
    <!-- Header Section -->
    <app-navbar></app-navbar>
    <header class="header">
      <h1>DVT <span>Groups</span></h1>
    </header>
  
    <!-- Contact Section -->
    <section class="contact-section">
      <h2>Contact us</h2>
      <div class="contact-details">
        <!-- Phone Number -->
        <div class="contact-item">
          <div class="icon">📞</div>
          <div class="details">
            <h3>Phone Number</h3>
            <p>+91 99876 23505</p>
            <p>dvtgroups&#64;gmail.com</p>
          </div>
        </div>
        <!-- Office Address -->
        <div class="contact-item">
          <div class="icon">📍</div>
          <div class="details">
            <h3>Office Address</h3>
            <p>#07 DVTGroups, Kulathor,</p>
            <p>Trivandrum, Kerala - 689032</p>
          </div>
        </div>
      </div>
      <!-- Social Links -->
      <!-- <div class="social-links">
        <a href="#" class="social-icon twitter">🐦</a>
        <a href="#" class="social-icon instagram">📷</a>
      </div> -->
    </section>
  </div>
  